#edit-div
{
  display:flex;
  flex-direction:row;
}

#title
{
	width:50;
}

#folder
{
	min-width:150px;
}

#new-note
{
	min-width: 125px;
}

a {
  	color: inherit;
  	text-decoration: none; /* no underline */
  	padding: 5px 10px;

}

a:hover 
{
    color:inherit; 
    text-decoration:none; 
}

.btn.sharp {
  border-radius:0;
}