.form-group textarea:focus {
	border: 2px solid		#1E90FF;
}

.form-group input:focus {
	border: 2px solid		#1E90FF;
	background-color: 	#deffff;
}

.about-border {
    width: 1080px;
    height: 3px;
    background: #006666;
    margin: 20px auto;
}

.form-group label {
	font-size: 20px;
}

.group label {
	font-size: 18px;
	color: green;
}

html body {
	background-color: #deffff;
}

.btn {
	background-color: #006666;
}
