.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#folder-text
{
  display:flex;
  flex-direction:row;
}

.navbar {
  background-color: #00b3b3;
}

.jumbotron {
  border-style: ridge;
  border-color: #00ffff;
  background-color: #e0ffff;
}
